.navbar {
    background-color: #071013;
    color: white;
    display: flex;
    flex: 1 1 100%;
    padding-left: 50px;
    
    .logo { 
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 30px;

        .logo--icon {
            font-size: 30px;
        }
    
        .logo-name {
            margin-left: 10px; 
        }

    }

    ul {
        display: flex;
        flex: 1 1 auto;
        list-style-type: none;
        font-size: 25px;
        
        li {
            padding: 10px;
        }
    }
}